 .u-section-1 {
  background-image: url("images/young-successful-businessman-correcting-tie.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 676px;
}

.u-section-1 .u-text-1 {
  text-align: justify;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 92px 631px 0 -1px;
}

.u-section-1 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 48px 630px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 630px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px 0;
  padding: 15px 54px 17px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 531px;
    width: 510px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 430px;
    width: 510px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 421px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-right: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 331px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 17.22% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-right: 231px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 741px;
}

.u-section-2 .u-text-1 {
  margin: 60px 96px 0;
}

.u-section-2 .u-text-2 {
  width: 361px;
  margin: 9px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-blog-1 {
  margin: 17px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 375px;
}

.u-section-2 .u-repeater-item-1 {
  background-size: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 222px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 17px 27px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 27px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 222px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 17px 27px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 27px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-3 {
  height: 222px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 17px 27px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 27px 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(#555c66, #292d33);
}

.u-section-3 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-3 .u-text-1 {
  margin: 60px 106px 0;
}

.u-section-3 .u-blog-1 {
  margin: 50px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 375px;
  grid-gap: 22px;
}

.u-section-3 .u-repeater-item-1 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-image-1 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-3 .u-repeater-item-2 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-image-2 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-3 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-3 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-3 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-3 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 31px auto 60px;
}

.u-section-3 .u-btn-1 {
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
    min-height: 311px;
  }

  .u-section-3 .u-image-1 {
    height: 225px;
  }

  .u-section-3 .u-image-2 {
    height: 225px;
  }

  .u-section-3 .u-image-3 {
    height: 225px;
  }

  .u-section-3 .u-image-3 {
    height: 225px;
  }

  .u-section-3 .u-image-3 {
    height: 225px;
  }

  .u-section-3 .u-image-3 {
    height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    min-height: 551px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 311px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 311px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 311px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 311px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 311px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 264px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 264px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 264px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 264px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 264px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 264px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 682px;
}

.u-section-4 .u-text-1 {
  margin: 56px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 56px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 430px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-4 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 430px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-4 .u-list-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-4 .u-text-12 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-4 .u-text-13 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-4 .u-text-14 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 10px;
}

.u-section-4 .u-text-15 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-4 .u-text-16 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-4 .u-text-17 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  border-style: solid;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 10px;
}

.u-section-4 .u-text-18 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-4 .u-text-19 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-4 .u-text-20 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  border-style: solid;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  min-height: 675px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 675px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  padding-left: 7px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-icon-6 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-icon-7 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-icon-8 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-icon-9 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-icon-10 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-image-1 {
  min-height: 675px;
  background-image: url("images/pexels-photo-5989927.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 557px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-5 .u-image-1 {
    min-height: 557px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 427px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 427px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1127px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 469px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 808px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 404px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 440px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 486px 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 375px;
  grid-gap: 20px;
}

.u-section-6 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/top-view-image-motivated-employees-working-together-office-official-meeting-concept-business.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 57px 30px;
}

.u-section-6 .u-icon-1 {
  width: 122px;
  height: 122px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 21px auto 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 57px 30px;
}

.u-section-6 .u-icon-2 {
  width: 122px;
  height: 122px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 21px auto 0 0;
}

.u-section-6 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/front-view-team-meeting-mock-up.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 57px 30px;
}

.u-section-6 .u-icon-3 {
  width: 122px;
  height: 122px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-6 .u-text-8 {
  margin: 21px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 286px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 66px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 736px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 824px;
}

.u-section-7 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 58px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 657px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-7 .u-icon-1 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-7 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-7 .u-icon-2 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-7 .u-text-4 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 27px;
}

.u-section-7 .u-icon-3 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-7 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-7 .u-text-6 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 27px;
}

.u-section-7 .u-icon-4 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-7 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-7 .u-text-8 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 30px 27px;
}

.u-section-7 .u-icon-5 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-7 .u-text-9 {
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-7 .u-text-10 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 30px 27px;
}

.u-section-7 .u-icon-6 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-7 .u-text-11 {
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-7 .u-text-12 {
  line-height: 1.64;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 962px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 666px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  min-height: 255px;
  background-image: url("images/female-work-brainstorming.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-8 .u-image-2 {
  min-height: 255px;
  background-image: url("images/16758708_rm405-da01-04-mockup.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  min-height: 255px;
  background-image: url("images/front-view-team-meeting-mock-up.jpg?rand=8bc0");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  min-height: 255px;
  background-image: url("images/top-view-image-motivated-employees-working-together-office-official-meeting-concept-business.jpg?rand=4212");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-image-5 {
  min-height: 255px;
  background-image: url("images/planning-risk-strategy-project-management-business.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-image-6 {
  min-height: 255px;
  background-image: url("images/group-people-working-out-business-plan-office.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-8 {
  min-height: 255px;
}

.u-section-8 .u-container-layout-8 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-5 {
  margin: 30px auto 60px 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-8 .u-image-1 {
    min-height: 210px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-8 .u-image-2 {
    min-height: 210px;
  }

  .u-section-8 .u-image-3 {
    min-height: 210px;
  }

  .u-section-8 .u-image-4 {
    min-height: 210px;
  }

  .u-section-8 .u-image-5 {
    min-height: 210px;
  }

  .u-section-8 .u-image-6 {
    min-height: 210px;
  }

  .u-section-8 .u-layout-cell-8 {
    min-height: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 61px;
  }

  .u-section-8 .u-image-1 {
    min-height: 211px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 211px;
  }

  .u-section-8 .u-image-3 {
    min-height: 211px;
  }

  .u-section-8 .u-image-4 {
    min-height: 211px;
  }

  .u-section-8 .u-image-5 {
    min-height: 211px;
  }

  .u-section-8 .u-image-6 {
    min-height: 211px;
  }

  .u-section-8 .u-layout-cell-8 {
    min-height: 211px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 31px;
    margin-bottom: -162px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2352px;
  }

  .u-section-8 .u-image-1 {
    min-height: 316px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-image-2 {
    min-height: 316px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    min-height: 316px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-4 {
    min-height: 316px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-5 {
    min-height: 316px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-6 {
    min-height: 316px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-8 .u-text-5 {
    margin-bottom: -259px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1701px;
  }

  .u-section-8 .u-image-1 {
    min-height: 199px;
  }

  .u-section-8 .u-image-2 {
    min-height: 199px;
  }

  .u-section-8 .u-image-3 {
    min-height: 199px;
  }

  .u-section-8 .u-image-4 {
    min-height: 199px;
  }

  .u-section-8 .u-image-5 {
    min-height: 199px;
  }

  .u-section-8 .u-image-6 {
    min-height: 199px;
  }

  .u-section-8 .u-text-5 {
    margin-bottom: -199px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/jhhhhhh.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 698px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -2px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 1px;
}

.u-section-9 .u-text-2 {
  margin: 32px 1px 0;
}

.u-section-9 .u-btn-1 {
  padding: 0;
}

.u-section-9 .u-list-1 {
  width: 417px;
  margin: 31px auto 0 1px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-9 .u-text-3 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 6px 1px 0;
}

.u-section-9 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-9 .u-text-4 {
  margin: 21px 1px 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-9 .u-text-5 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 6px 1px 0;
}

.u-section-9 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-9 .u-text-6 {
  margin: 21px 1px 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-9 .u-text-7 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 6px 1px 0;
}

.u-section-9 .u-icon-3 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-9 .u-text-8 {
  margin: 21px 1px 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 578px;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-form-1 {
  height: 508px;
  width: 509px;
  margin: 4px auto 0;
}

.u-section-9 .u-label-1 {
  font-weight: 700;
}

.u-section-9 .u-label-2 {
  font-weight: 700;
}

.u-section-9 .u-form-group-3 {
  margin-left: 0;
}

.u-section-9 .u-label-3 {
  font-weight: 700;
}

.u-section-9 .u-label-4 {
  font-weight: 700;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-list-1 {
    width: 396px;
    margin-left: 0;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-9 .u-form-1 {
    width: 426px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-list-1 {
    width: 290px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-form-1 {
    width: 312px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-form-1 {
    width: 515px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-form-1 {
    width: 320px;
  }
}